.topnav {
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}
  
.topnav div {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    user-select: none;
}

.topnav div:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.topnav div.active {
    background-color: #FFF04D;
}

#logoutBtn {
    font-size: 8pt;
    position: absolute;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    user-select: none;
    line-height: 12px;
    top: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

#logoutBtn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: whitesmoke;
    width: 130px;
    border-radius: 15px;
    padding: 12px;
    margin-right: 12px;
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container {
    font-size: 12px;
}

body > div.content {
    width: unset;
}

#newDriver, #newVehicle {
    text-align: center;
}

#newDriver #desc, #newVehicle #desc {
    font-size: 15px;
    margin-top: 20px;
}