body { 
    font-family: sans-serif;
    background-color: #FFF9EC;
    background-image: url("../images/taxi-small-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    align-items: center;
}

div#logo {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    background-color: white;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-color: #FFF04D;
    border-style: double;
    user-select: none;
}

div#loginWindow {
    padding: 20px;
    border-color: #FFF04D;
    border-width: 15px;
    border-style: double;
}

.inputTitle, .inputError {
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
    font-size: 10px;
    user-select: none;
}

.inputError {
    color: red;
}

.input {
    padding-bottom: 10px;
}

.formInput {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
}
.formInput:hover {
    background-color: whitesmoke;
}

.error > input {
    border-color: red;
}

.btn {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: gainsboro;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background-color: grey;
}

div.content {
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    text-align: left;
}

.smallerWindow {
    width: 380px !important;
}

div#footer {
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 95%;
}

#copyright {
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    user-select: none;
}